*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-width: 800px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
ul,
ol,
li,
p {
    margin: 0;
    padding: 0;
}
